$mantine-breakpoint-xs: 576px;
$mantine-breakpoint-sm: 768px;
$mantine-breakpoint-md: 1100px;
$mantine-breakpoint-lg: 1200px;

/* About Section */
.aboutSection {
  height: 50vh;
  max-width: 80vw;
  min-width: 80vw;
  width: 80vw;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: space-between;
  margin-top: -12vh;


  @media (max-width: 768px) {
    height: 80vh;
    flex-direction: column;
    gap: 20px;
    min-width: 90vw;
    padding-top: 5vh;

  }

  @media (max-width: 400px) {
    height: 90vh;
    flex-direction: column;
    gap: 20px;
    min-width: 90vw;
    padding-top: 4vh;

  }
}

.textContainer {
  flex: 1;
  max-width: 50%;

  @media (max-width: 768px) {
    max-width: 100%;
    order: 1; /* Ensures text is above */
    text-align: justify;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  max-width: 50%;
  min-width: 50%;

  @media (max-width: 768px) {
    justify-content: center;
    margin-top: 15px;
    max-width: 100%;
    order: 2; /* Ensures image is below text */
  }
}

/* Image */
.image {
  max-width: 50%;
  min-width: 50%;
  height: auto;
  object-fit: contain;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 50%;
    min-width: 50vw;
  }
}
