.wrapper {
    display: flex;
    align-items: center;
    color: var(--mantine-color-white);

    @media (max-width: 768px) {
      padding-left: 5px;
    }
  }
  
  .icon {
    margin-right: var(--mantine-spacing-md);
    background-color: white;
  }
  
  .title {
    color: var(--mantine-color-white);
  }
  
  .description {
    color: var(--mantine-color-white);
  }
  