/* Title styling */
.title {
    font-size: 34px;
    font-weight: 900;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .title {
      font-size: 24px;
    }
  }
  
  /* Description styling */
  .description {
    max-width: 600px;
    margin: auto;
  }
  
  /* Styling for the ::after pseudo-element in description */
  .description::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Card border styling */
  .card {
    border: 1px solid var(--mantine-color-gray-1); /* Light color for the card border */
  }
  
  /* Styling for the ::after pseudo-element in cardTitle */
  .cardTitle::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }

  .container {
    max-width: 1400px; /* Adjust this value based on your design */
    margin: 0 auto; /* Centers the section */
    padding: 0 5vw; /* Ensures some spacing on the sides */
  }
  
  