.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.inner {
  max-width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0;
}

.hidden {
  transform: translateY(-100%);
}

.visible {
  background-color: white !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .inner {
    max-width: 80vw;
  }

  .links {
    display: none;
  }

  .mobileMenu {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .burger {
    display: block;
  }
}

.link {
  text-decoration: none;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
}

.active, .link[data-active="true"] {
  background-color: rgba(0, 110, 255, 1);
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 12px;
}
