.hero {
    height: 100vh;
}

.heroCard {
    position: absolute;
    bottom: -9vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw; /* Starts narrower */
    height: 64vh; /* Keep space for title & buttons */
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px); /* Adds blur effect */
    -webkit-backdrop-filter: blur(3px); 
    border-radius: 50px 50px 0 0;
    text-align: center;
    transition: width 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ensure content stays at the top */
    

    @media (min-width: 1601px) {
        height: 50vh;
        bottom: 0vh;
    }


    @media (max-width: 1600px) {
        height: 68vh;
    }



    @media (max-width: 1300px) {
        width: 80vw; /* Expands to full width */
        border-radius: 0;
        border-radius: 40px 40px 0 0;

    }

    @media (max-width: 768px) {
        width: 85vw; /* Expands to full width */
        height: 58vh !important;
        border-radius: 0;
        border-radius: 40px 40px 0 0;
        padding-bottom: 0 !important;
    }

    @media (max-width: 400px) {
        width: 90vw; /* Expands to full width */
        height: 63vh !important;
        border-radius: 0;
        border-radius: 40px 40px 0 0;
        bottom: 0vh;
        padding-bottom: 0 !important;

    }
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.expanded {
    width: 100vw;
    background: rgba(255, 255, 255, 1);


    @media (max-width: 768px) {
        padding-bottom: 0vh;
        height: auto;
        min-height: unset;
    }
}



.title {
    margin-top: 5vh;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px; 
    color: rgba(0, 110, 255, 1);

    @media (max-width: 768px) {
        font-size: 3rem;
    }

    @media (max-width: 480px) {
        font-size: 2.4rem;
    }

}

    
  
  .pressStart {
    font-family: "Press Start 2P", cursive;
  }
  
  .orbitron {
    font-family: "Orbitron Variable", sans-serif;
  }
  
  .krona {
    font-family: "Krona One", sans-serif;
  }

  .dseg7 {
    font-family: "DSEG7 Classic", sans-serif;
  }

  .audiowide {
    font-family: "Audiowide", cursive;
  }

  
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    

    @media (max-width: 768px) {
        margin-bottom: 15px;

    }
 
    
}

.hiddenContent {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    margin-top: 10px; /* Keeps hidden content below the buttons */
    max-width: 50vw;

}

.show {
    opacity: 1; /* Reveals text gradually */
}


.textContainer {
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: center; /* Ensures inline text aligns properly */
    width: 100%; /* Ensures full width */
}

.text {
    text-align: center; /* Centers text */
    width: 100%; /* Takes full width to properly center */
    max-width: 100vw; /* Prevents text from becoming too wide */
    word-wrap: break-word;
    overflow-wrap: break-word;

}
