.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  width: 85vw;
  max-width: 85vw;
  min-height: 85vh;
  text-align: justify;

  @media (max-width: 768px) {
    margin-top: 10vh;
    
  }
}


.content {
  flex: 1;
  width: 50%;
  max-width: 50%;
  position: relative;
  z-index: 1;

  @media (max-width: 1100px) {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: var(--mantine-color-black);
  font-size: 70px;
  line-height: 1.4;
  font-weight: 1000;
  margin-bottom: 20px;
  text-align: left;
}

.text {
  font-size: clamp(16px, 1.2vw, 20px); /* ✅ Adjusts dynamically */
  line-height: 1.6;
  color: var(--mantine-color-gray-7);
  text-align: justify;
}

.list-item {
  font-size: clamp(16px, 1.3vw, 18px); /* ✅ Scales proportionally */
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 110, 255, 1);

}


.control {
  max-width: 180px;
  min-width: auto;
  flex-grow: 0;
  background-color: rgba(0, 110, 255, 1);

  @media (max-width: 576px) {
    max-width: 160px;
    width: auto;
  }
}

.image {
  flex: 1;
  max-width: 35vw;
  height: auto;
  margin-left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1100px) {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width:90vw;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    z-index: 1;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
  }

  @media (max-width: 768px) {
    position: absolute;
    min-width: 100vw;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: clamp(750px, 130vw, 750px); /* Adjust for background effect */
    opacity: 0.2;
    z-index: 1;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 1));
  }
}
