$mantine-breakpoint-xs: 576px;
$mantine-breakpoint-md: 768px;

.heroSection {
  width: 95vw;
  min-height: 95vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px !important;/* Push Hero below header */
  padding-left: 7%;
  padding-right: 7%;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: left;
    padding-top: 100px !important; /* Extra space for mobile */
  }
}


.title {
  color: var(--mantine-color-black);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 38px;
  }
}

.imageContainer {
  display: flex;
  justify-content: right;

  @media (max-width: $mantine-breakpoint-xs) {
    margin-top:20px;
  }
}

.image {
  width: 100%;
  max-width: 600px;
  height: auto;
}
