.contactWrapper {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
    text-align: left;
   
  
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: left;
      min-height: 100vh;
      max-height: 100vh;      
      margin-top: 15vh;
      margin-bottom: 20vh;
    }
  }
  
  .textContainer {
    flex: 1;
    max-width: 45%;

    @media (max-width: 768px) {
      min-width: 80vw !important;
  
    }
  }
  
  .title {
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: #003366;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'SF Pro', sans-serif;

    @media (max-width: 768px) {
      min-width: 90vw !important;
    }
  }
  
  .description {
    max-width: 100%;
    color: #666;
    line-height: 1.5;
  }
  
  .formWrapper {
    flex: 1;
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 100%;
    margin-top: 1rem;
    max-width: 50vh;

    @media (max-width: 768px) {
      margin-top: 10vh;
      margin-bottom: 5vh !important;
    }


    @media (max-width: 400px) {
      margin-top: 2vh;
      margin-bottom: 5vh !important;
    }

  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 768px) {
      margin-top: 0 !important;
    }
  }

