.heroCTAContainer {
    display: flex;
    padding: 4rem 0;
    justify-content: center;
    background-color: #007BFF;
    align-items: center;
}

.heroCTACard {
    background-color: #fff;
    padding: 4rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 75vw;
    height: auto;
    max-width: 2592px;
}

.title {
    color: #003366;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 400;
    display: flex;
    margin-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
}

.heroCTAText {
    color: #666;
}

.heroCTAButtons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;

    .learnMoreButton {
        background-color: #003366;
        color: #fff;
        border: 1px solid #003366;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
    }
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .heroCTACard {
        padding: 2rem;
    }

    .heroCTAButtons {
        width: 100%;
        display: flex;
        flex-direction: column;

        .learnMoreButton {
            width: 100%;
        }
    }
}
