.heroCTAContainer {
    display: flex;
    padding: 4rem 0;
    justify-content: center;
    background-color: #007BFF;
    display: flex;
    align-items: center; /* This ensures vertical centering */
}

.heroCTACard {
    background-color: #fff;
    padding: 4rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 75vw;
    height: auto;
}

.heroCTATitle {
    font-size: clamp(2.5rem, 4vw, 5rem);
    font-weight: 400;
    color: #003366;
    margin-bottom: 1rem;
}

.heroCTAText {
    color: #666;
    margin-bottom: 2rem;
}

.heroCTAButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .learnMoreButton {
        background-color: #003366;
        color: #fff;
        border: 1px solid #003366;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
    }
    
    .getStartedButton {
        background-color: #007BFF;
        color: #fff;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
    }
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .heroCTACard {
        padding: 2rem;
    }

    .heroCTAButtons {
        width: 100%; /* Full width for container */
        display: flex;
        flex-direction: row; /* Stack buttons vertically */

        .learnMoreButton,
        .getStartedButton {
            width: 50%;
            
        }
    }
}
