.timelineSection {
    text-align: center;
    padding: 4rem 0;
    width: 85vw;
    max-width: 75vw;

    margin: 0 auto;

    .title {
        color: #003366;
        font-size: clamp(2.5rem, 5vw, 6rem);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .description {
        color: #777;
        max-width: 60vw;
        margin: 0 auto 10rem auto;
    }

    .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 5rem;
    
        &::before {
            content: '';
            position: absolute;
            top: 5%; /* Corrected starting position */
            left: 50px;
            width: 2px;
            height: 100%;  /* Ensures it aligns with the content */
            background: #e0e0e0; 
            z-index: 0;
        }
    
        .glowLine {
            position: absolute;
            top: 5%; /* Align with the grey line */
            left: 50px;
            width: 2px;
            height: 0;
            background: #007BFF;
            box-shadow: 0 0 10px 2px rgba(0, 123, 255, 0.8); 
            transition: height 0s ease-in-out;
            z-index: 1;
        }
    }
    

    .step {
        display: flex;
        align-items: center;
        position: relative;
    
        .circle {
            width: 40px; /* Larger for better visibility */
            height: 40px;
            background: #fff;
            border: 2px solid rgba(0, 0, 0, 0.1); /* Light grey border */
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400; /* Softer weight */
            color: #000; /* Ensure number visibility */
            position: relative;
            z-index: 1;
    
            /* Shadow for subtle depth effect */
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    
            /* Optional: Slight fade-in effect for elegance */
            animation: fadeIn 0.6s ease-in-out forwards;
        }
    
        @keyframes fadeIn {
            from {
                opacity: 0.5;
                transform: scale(0.9);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
        

        .content {
            text-align: left;
            margin-left: 3rem;

            .mantine-Text-root {
                margin-bottom: 0.5rem;  
            }
        }
    }
}

.step {
    .content {
        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            color: #003366;  // Deep blue for consistency
        }
    }
}

