.timelineSection {
    text-align: center;
    padding: 4rem 0;
    max-width: 75vw;
    text-align: justify;
    margin: 0 auto;


    .title {
        color: #003366;
        font-size: clamp(2.5rem, 5vw, 6rem);
        font-weight: 400;
        text-align: left !important;
        margin-top: 0rem;
    }

    .description {
        color: #777;
        max-width: 80vw;
        margin: 0 auto 10rem auto;
        text-align: justify;
    }

    .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 3rem;

    
        &::before {
            content: '';
            position: absolute;
            left: 0px;
            width: 8px;
            height: 100%;  /* Ensures it aligns with the content */
            background: #e0e0e0; 
            z-index: 0;
            border-radius: 5px;

        }
    
        .glowLine {
            position: absolute;
            left: 0px;
            width: 8px;
            height: 0;
            background: #007BFF;
            transition: height 0s ease-in-out;
            z-index: 1;
            max-height: 100%;
            border-radius: 5px;
            box-shadow: 0 6px 10px #007BFF;

        }
    }
    

    .step {
        display: flex;
        align-items: center;
        position: relative;


    
        @keyframes fadeIn {
            from {
                opacity: 0.5;
                transform: scale(0.9);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
        

        .content {
            text-align: left;
            margin-left: 2rem;


        }
    }
}

.step {
    .content {
        h3 {
            font-size: 1.5rem;
            font-weight: 400;
            color: #003366;  // Deep blue for consistency
            margin: 0;
        }
    }
}





