.ctaSection {
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
    margin-top: 25vh;
}

.title {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 500;
    color: #003366;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;

    .primaryButton {
        background-color: #003366;
        color: #fff;
        padding: 0.5rem 2rem;
        border-radius: 5px;
    }

    .secondaryButton {
        background-color: #0071e3;
        color: #fff;
        padding: 0.5rem 2rem;
        border-radius: 5px;
    }
}


@media (max-width: 768px) {
    .ctaSection {
        height: 80vh;
        margin-top: 10vh !important;
    }
}